
#root{
  padding: 0;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight:normal;
}


